.music__ul {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 3% 5%;
  margin: 0 auto;
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  padding-bottom: 7%;
}

@media screen and (max-width: 1367px) {
  .music__ul {
    grid-template-columns: repeat(3, 30%);
    padding: 0 2%;
    padding-bottom: 6%;
  }
}

@media screen and (max-width: 900px) {
  .music__ul {
    grid-template-columns: repeat(2, 48%);
    gap: 2% 4%;
    padding: 0 2%;
    padding-bottom: 13%;
  }
}

@media screen and (max-width: 660px) {
  .music__ul {
    grid-template-columns: repeat(1, 100%);
    gap: 1% 4%;
    padding: 0 3%;
    padding-bottom: 35%;
  }
}

@media screen and (max-width: 450px) {
  .music__ul {
    grid-template-columns: repeat(1, 100%);
    gap: .8% 5%;
    padding: 0 4%;
    padding-bottom: 45%;
  }
}
